@charset "UTF-8";
#bgfff {
  background: #fff; }

ul, li {
  list-style: none; }

body {
  color: #3b3b3b;
  background: #f7f7f7; }

.border0 {
  border: 0 !important; }

.border-b0 {
  border-bottom: 0 !important; }

.yellow {
  color: #ffcc1d; }

.orange {
  color: #ff9a0a; }

.hui3b {
  color: #3b3b3b; }

.hui72 {
  color: #727272; }

.hui94 {
  color: #949494; }

.red {
  color: #ff2626; }

.red-price {
  color: #ff2626; }
  .red-price:before {
    content: '¥';
    padding-right: 2px; }

.bghuif7 {
  background: #f7f7f7; }

.w120 {
  width: 120px !important; }

.lh2 {
  line-height: 2; }

.mt0 {
  margin-top: 0 !important; }

.ml0 {
  margin-left: 0 !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

a {
  color: #3b3b3b; }

.pl0 {
  padding-left: 0 !important; }

.p075 {
  padding: 0 0.75rem; }

.pauto-075 {
  margin: 0 -.75rem;
  padding: 0 0.75rem; }

.ptb30 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem; }

.ptb50 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.pt22 {
  padding-top: 2.2rem; }

.pl10 {
  padding-left: 10px; }

.pl25 {
  padding-left: 25px; }

.scale90 {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  line-height: 1; }

.line-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .line-center span {
    padding: 0 0.5rem; }
  .line-center:before, .line-center:after {
    content: " ";
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 1px;
    border-top: 1px solid #d9d9d9; }

.border-t10 {
  border-top: 0.5rem solid #f7f7f7;
  background: #fff; }
  .border-t10 a.dis-f {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 0.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #e4e4e4; }
    .border-t10 a.dis-f p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 0.7rem;
      color: #3b3b3b;
      padding-left: 8px; }
    .border-t10 a.dis-f:after {
      content: '';
      border: 1px solid #949494;
      border-top: 0;
      border-left: 0;
      width: 0.7rem;
      height: 0.7rem;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.border-t1 {
  border-top: 1px solid #f7f7f7; }

.border-b1 {
  border-bottom: 1px solid #f7f7f7; }

.weui-btn_orange {
  background: #ff9a0a; }

.weui-btn_plain-orange {
  border: 1px solid #ff9a0a;
  background: #fff;
  color: #ff9a0a; }

.fz12 {
  font-size: 0.6rem; }

.fz13 {
  font-size: 0.65rem; }

.fz14 {
  font-size: 0.7rem; }

.fz15 {
  font-size: 0.75rem; }

.fz16 {
  font-size: 0.8rem; }

.fz18 {
  font-size: 0.9rem; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.fl {
  float: left; }

.fr {
  float: right; }

.dis-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.pos-f {
  position: fixed; }

.backBar {
  height: 2rem;
  line-height: 2rem;
  width: 100%;
  padding: 0 0.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  background: #ff9a0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .backBar .title {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center; }
  .backBar p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    margin-left: -2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .backBar p.ml0 {
    margin-left: 0; }
  .backBar a.back {
    display: inline-block;
    width: 2rem; }
    .backBar a.back i {
      width: 0.75rem;
      height: 0.75rem;
      display: inline-block; }
    .backBar a.back .text-icon.icon-shop-back {
      position: relative;
      left: 0.5rem;
      /*top: $fz5;*/
      content: '';
      display: block;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: scaleY(0.8) rotateZ(45deg);
              transform: scaleY(0.8) rotateZ(45deg); }
  .backBar a.regLogin {
    width: 2rem;
    color: #fff;
    font-size: 0.6rem;
    text-align: right; }

.weui-switch-cp__input:checked ~ .weui-switch-cp__box, .weui-switch:checked {
  background: #ff9a0a;
  border: 1px solid #ff9a0a; }

.weui-btn_pay {
  background: #ff9a0a;
  height: 2rem;
  border-radius: 2rem;
  margin-top: 2rem;
  font-size: 0.8rem; }
  .weui-btn_pay:after {
    border: 0; }

.icon-mark {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url("../img/icon/icon-mark.png") 0 0/18px no-repeat;
  margin: 0 10px 0 0; }

.icon-mark-yuding {
  background-position: 0 0; }

.icon-mark-diancan {
  background-position: 0 -36px; }

.icon-mark-waimai {
  background-position: 0 -72px; }

.icon-mark-taocan {
  background-position: 0 -108px; }

.icon-shop {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url("../img/icon/iconShop.png") 0 0/60px auto no-repeat;
  margin: 0 10px 0 0; }

.icon-shop-talk {
  background-position: -38px -249px;
  background-size: 70px; }

.icon-shop-inform {
  background-position: 0px 3px;
  float: right; }

.icon-shop-tel {
  background-position: 0 -63px; }

.icon-shop-addr {
  background-position: 0px -150px;
  width: 18px; }

.icon-shop-yuding {
  background-position: 0px -66px;
  width: 18px; }

.icon-shop-waimai {
  background-position: 1px -90px;
  width: 18px; }

.icon-shop-bookmark {
  background-position: 1px -120px; }

.icon-shop-buyList {
  background-position: -8px -210px; }

.icon-shop-wechat {
  background-position: -42px -122px;
  width: 40px;
  height: 40px;
  background-size: 80px auto; }

.icon-shop-alipay {
  background-position: -42px -162px;
  width: 40px;
  height: 40px;
  background-size: 80px auto; }

.border-t10.border-t1 {
  background: #fff;
  border-top: 1px solid #f7f7f7; }
  .border-t10.border-t1 a.dis-f p {
    padding-left: 0; }

.affirm-order .weui-cell {
  background: #fff; }

.affirm-order-info li {
  line-height: 2; }
  .affirm-order-info li span:first-child {
    /*color: $hui99;*/
    padding-right: 0.7rem;
    color: #797979; }

.order-list {
  background: #fff; }
  .order-list .hd {
    line-height: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7rem; }
    .order-list .hd p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      color: #949494; }
  .order-list dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7rem;
    border-top: 1px solid #e4e4e4;
    margin: 0 -.75rem 0;
    padding: 0.3rem 0.75rem; }
    .order-list dl dt {
      margin: 0 0.5rem 0 0;
      line-height: normal; }
      .order-list dl dt img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        overflow: hidden; }
    .order-list dl dd {
      /*flex: 1;*/ }
      .order-list dl dd .title {
        color: #3b3b3b; }
        .order-list dl dd .title p {
          color: #999999;
          font-size: 0.6rem; }
      .order-list dl dd:not(:first-of-type) {
        text-align: center; }
    .order-list dl dd:nth-of-type(1) {
      width: 53%;
      margin-right: 2%;
      white-space: nowrap;
      overflow: hidden;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .order-list dl dd:nth-of-type(2) {
      width: 15%; }
      .order-list dl dd:nth-of-type(2):before {
        content: 'x'; }
    .order-list dl dd:nth-of-type(3) {
      width: 15%;
      color: #ff2626; }
      .order-list dl dd:nth-of-type(3):before {
        content: '¥';
        padding-right: 2px; }

.footNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 3rem;
  /*border-top: 1px solid #dcdcdc;*/
  background: #f4f4f4; }
  .footNav .weui-grid {
    color: #949494; }
  .footNav .weui-grids:after {
    border-left: 0; }
  .footNav .weui-grid {
    width: 25%;
    padding-top: 0; }
  .footNav .weui-grid:before {
    border-right: 0; }
  .footNav .iconfont {
    font-size: 1.3rem; }
  .footNav .weui-grid__label {
    font-size: 0 0.6rem;
    line-height: 1;
    color: #949494; }
  .footNav .weui-grids .on, .footNav .weui-grids .on .weui-grid__label {
    color: #ff9a0a; }

.icon-member {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url("../img/icon/icon-member.png") 0 0/60px auto no-repeat; }

.icon-member-myOrder {
  background-position: 0 -29px; }

.icon-member-myAddr {
  background-position: 0 -59px; }

.icon-member-friend {
  background-position: 0 -89px; }

.icon-member-service {
  background-position: 0 -118px; }

.icon-member-idea {
  background-position: 0 -149px; }

.icon-member-about {
  background-position: 0 -179px; }

.icon-member-waimaiAddr {
  background-position: -5px -212px;
  width: 25px; }

.icon-member-addr-add {
  background: url("../img/icon/icon-addr-add.png") 0 2px/14px auto no-repeat;
  padding-left: 20px; }

.icon-member-edit {
  background-position: 0 -240px; }

.icon-member-addr-btn {
  background-position: 0 -270px; }

.icon-member-add {
  background-position: 0 -302px; }

.icon-member-consult {
  background-position: -30px -270px; }

.icon-member-tel {
  background-position: -30px -300px; }

.my-account header {
  overflow: auto;
  color: #fff;
  padding: 1.4rem 0 .85rem;
  background: url("../img/icon/vip-bg.png") center 0/cover #ff9a0a; }
  .my-account header .my-logo {
    width: 3.2rem;
    height: 3.2rem;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.31);
    margin: 0 auto 0; }
    .my-account header .my-logo img {
      width: 100%; }
  .my-account header .name {
    font-size: 0.85rem; }
  .my-account header p:last-child {
    font-size: 0.65rem;
    display: inline-block;
    padding: .1rem .8rem;
    height: 1rem;
    line-height: 1rem;
    margin: 0 auto;
    background: #ffcc1d;
    border-radius: .7rem; }
.my-account .talk {
  position: absolute;
  right: 0.75rem; }
.my-account .talk a {
  display: block; }
.my-account .weui-grids {
  background: #fff; }
  .my-account .weui-grids .weui-grid {
    margin: .5rem 0;
    padding: 0; }
  .my-account .weui-grids .weui-grid:after {
    border: 0; }
  .my-account .weui-grids p:first-child {
    font-size: 0.75rem;
    color: #949494; }
    .my-account .weui-grids p:first-child span {
      font-size: 0.6rem;
      margin-left: 3px; }
  .my-account .weui-grids p:last-child {
    color: #3b3b3b; }

.my-order {
  color: #949494;
  background: #fff;
  padding-bottom: 3rem; }
  .my-order .weui-grids .weui-grid {
    width: 25%;
    padding: 10px; }
    .my-order .weui-grids .weui-grid .iconfont {
      font-size: .9rem;
      color: #949494; }
    .my-order .weui-grids .weui-grid .weui-grid__label {
      font-size: 0.6rem;
      color: #949494; }
  .my-order .weui-grids .weui-grid:before, .my-order .weui-grids .weui-grid:after {
    border: 0; }
  .my-order .weui-grids:before {
    border: 0; }

.login {
  /*height: 100vh;*/
  background: #fff; }
  .login input {
    height: 1.75rem;
    background: #f7f7f7;
    border-radius: .9rem;
    text-indent: 1rem;
    letter-spacing: 2px;
    font-size: 0.7rem; }
  .login .weui-cells {
    margin: 0;
    padding: 0 0.75rem; }
  .login .weui-cells:before, .login .weui-cells:after {
    border: 0; }
  .login .weui-cell {
    margin: 1rem 0 0;
    padding: 0; }
  .login .weui-btn_pay {
    margin-top: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .login .weui-cell:before, .login .weui-cell:after {
    border: 0; }
  .login .weui-cell_vcode .weui-cell__ft .weui-vcode-btn {
    display: inline-block;
    border-left: 0;
    height: 1.7rem;
    line-height: 1.7rem;
    font-size: 0.7rem;
    border-radius: .9rem;
    border: 1px solid #ff9a0a;
    color: #ff9a0a;
    padding: 0 1.2rem; }
  .login .weui-grids {
    width: 60%;
    margin: 0 auto;
    padding: 0.5rem 0 0; }
    .login .weui-grids:before, .login .weui-grids:after {
      border: 0; }
    .login .weui-grids .weui-grid:before, .login .weui-grids .weui-grid:after {
      border: 0; }
  .login .weui-grid__icon {
    width: 44px;
    height: 44px; }
  .login .weui-grid__label {
    color: #949494;
    font-size: 0.6rem; }

.member-info {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  overflow: hidden; }

.member-info img {
  width: 100%; }

.order .weui-tab .weui-navbar {
  background: #fff;
  padding-bottom: .3rem;
  height: 1.9rem;
  line-height: normal; }
  .order .weui-tab .weui-navbar .weui-navbar__item {
    /* padding: 10px 0 5px;*/
    margin: 0 7%;
    font-size: 0.7rem; }
    .order .weui-tab .weui-navbar .weui-navbar__item:after {
      border: 0; }
  .order .weui-tab .weui-navbar .weui-navbar__item.weui-bar__item--on {
    background: #fff;
    color: #ff9a0a;
    border-bottom: 3px solid #ff9a0a; }
.order .weui-tab .weui-navbar + .weui-tab__bd {
  padding: 2.2rem 0 0; }

.my-order-list li {
  background: #fff;
  padding: 0 0.75rem;
  margin-top: 0.5rem; }
.my-order-list .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.75rem;
  font-size: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .my-order-list .title p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .my-order-list .title p a {
    color: #949494;
    display: block; }
  .my-order-list .title span {
    float: right;
    display: inline-block;
    color: #fe823e; }
.my-order-list dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -.75rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #e4e4e4;
  border-left: 0;
  border-right: 0; }
  .my-order-list dl dt {
    margin: 0 0.5rem 0 0;
    line-height: normal; }
    .my-order-list dl dt img {
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 5px; }
  .my-order-list dl dd {
    font-size: 0.7rem; }
    .my-order-list dl dd:first-of-type {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .my-order-list dl dd:last-of-type {
      font-size: 0.75rem; }
.my-order-list .total-price {
  text-align: right;
  font-size: 0.6rem;
  color: #949494;
  padding: 0.5rem 0 0; }
  .my-order-list .total-price span {
    font-size: 0.75rem;
    color: #ff2626;
    padding: 0  0 0 5px;
    display: inline-block; }
    .my-order-list .total-price span:before {
      content: '¥'; }

.opration {
  text-align: right;
  line-height: normal; }
  .opration .weui-btn {
    display: inline-block;
    height: 1.3rem;
    line-height: 1.3rem;
    border-radius: 1.3rem;
    font-size: 0.65rem;
    margin: 10px 0 10px 0.5rem; }
  .opration .weui-btn_plain-default {
    border: 1px solid #d8d8d8; }
  .opration .weui-btn_plain-orange:after {
    border: 0; }

.pos-f {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  background: #fff;
  line-height: normal; }

.my-order-details {
  padding-bottom: 3rem; }

.weui-uploader__input-box {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  background: url("../img/icon/camera.png") center center/45% no-repeat; }
  .weui-uploader__input-box:before {
    width: 0;
    height: 0; }
  .weui-uploader__input-box:after {
    width: 0;
    height: 0; }

.yeorno {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .yeorno li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.rating {
  font-size: 0.7rem; }
  .rating .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .rating .title p {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 0.75rem; }
  .rating .items .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .rating .items .item ul {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      height: 20px;
      background: url("../img/icon/starList.png") right -178px/115px auto no-repeat; }

.comm-btn {
  width: 33%;
  height: 1.75rem;
  line-height: 1.75rem;
  margin-top: 1rem; }

.addr-add {
  font-size: 0.7rem; }
  .addr-add .title {
    height: 1.5rem;
    line-height: 1.5rem; }
  .addr-add .weui-label {
    width: 4rem; }
  .addr-add .weui-check__label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .addr-add .weui-check__label:last-of-type {
    margin-left: 2.5rem; }
  .addr-add .weui-cell:before {
    left: 0; }
  .addr-add .weui-cells {
    font-size: 0.7rem; }
  .addr-add .weui-cells .weui-cell .weui-check:checked + .weui-icon-checked:before {
    content: '\EA06';
    font-size: 1rem;
    padding-right: 3px;
    color: #ff9a0a; }
  .addr-add .weui-cells .weui-cell .weui-check:not(:checked) + .weui-icon-checked:before {
    content: '\EA06';
    font-size: 1rem;
    padding-right: 3px;
    color: #bebebe; }
  .addr-add .weui-btn_orange {
    width: 80%;
    margin-top: 1rem;
    height: 1.75rem;
    line-height: 1.75rem;
    font-size: 0.75rem; }

.addr-manage {
  padding-bottom: 2.3rem; }
  .addr-manage dl {
    background: #fff;
    padding: 0.3rem 0;
    margin-bottom: 0.5rem; }
    .addr-manage dl a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .addr-manage dl a dt {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding-right: 10px; }
        .addr-manage dl a dt span, .addr-manage dl a dt p {
          color: #949494; }
  .addr-manage .btn-add {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff; }
    .addr-manage .btn-add button {
      height: 2.3rem;
      color: #ff9a0a;
      font-size: 0.7rem; }
      .addr-manage .btn-add button i {
        margin-right: 5px; }

.cards dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.3rem;
  margin-top: 0.75rem;
  background: #ff9a0a;
  border-radius: 5px;
  color: #fff; }
  .cards dl dt {
    width: 2.25rem;
    margin: .5rem .6rem 0 1rem; }
    .cards dl dt img {
      width: 100%; }
  .cards dl dd {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: .6rem 0 0 0; }
    .cards dl dd .num {
      font-size: 0.9rem; }

.withdraw {
  font-size: 0.7rem;
  margin-top: 15px; }
  .withdraw .hd {
    height: 2.2rem;
    line-height: 2.2rem;
    text-indent: .8rem;
    background: #f1f1f1;
    border-radius: 5px 5px 0 0; }
    .withdraw .hd span {
      color: #2c3566;
      margin-left: 1rem; }
  .withdraw .bd {
    background: #fff;
    padding: .8rem .8rem 0;
    border-radius: 0 0 5px 5px; }
    .withdraw .bd input {
      font-size: 1.2rem;
      padding: 0.3rem 0; }
    .withdraw .bd .balance {
      padding: 0.3rem 0; }
  .withdraw .weui-btn_pay {
    background: #fad5a0;
    height: 1.75rem;
    line-height: 1.75rem;
    margin-top: 1rem; }
  .withdraw .weui-btn_pay:after {
    border: 0; }

.message .weui-media-box {
  padding: 0.5rem 1rem; }
.message .weui-media-box:before {
  left: 0; }
.message .weui-media-box_appmsg .weui-media-box__hd {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.3rem; }
.message .weui-media-box__title {
  font-size: 0.7rem; }
.message .weui-media-box__desc {
  font-size: 0.6rem;
  color: #949494;
  line-height: normal; }

.share {
  width: 80%;
  margin: 1.5rem auto;
  text-align: center; }
  .share .fz14 span {
    color: #ff9a0a;
    padding: 0 5px; }
  .share .line-center {
    padding: 1rem 5% 0; }
  .share strong {
    font-size: 1rem;
    padding: .75rem 0;
    display: block; }
  .share .weui-btn {
    width: 50%;
    font-size: 0.8rem; }

.share + .border-t10 {
  border-top: 0.75rem solid #f7f7f7; }
  .share + .border-t10 .line-center {
    margin: 1.5rem 0 .5rem; }
  .share + .border-t10 .weui-grids:after, .share + .border-t10 .weui-grids:before {
    border: 0; }
  .share + .border-t10 .weui-grid {
    width: 25%; }
    .share + .border-t10 .weui-grid:before, .share + .border-t10 .weui-grid:after {
      border: 0; }
    .share + .border-t10 .weui-grid .weui-grid__icon {
      width: 55px;
      height: auto; }
    .share + .border-t10 .weui-grid .weui-grid__icon img {
      height: auto; }
    .share + .border-t10 .weui-grid .weui-grid__label {
      color: #949494; }

.coupan {
  color: #ff9a0a; }
  .coupan .item {
    margin-top: 0.5rem; }
    .coupan .item .hd {
      position: relative;
      height: 4px;
      background: url("../img/icon/coupan-bg.png") repeat-x 0 0; }
  .coupan dl {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem 0.5rem;
    border-bottom: 4px solid #ff9a0a;
    border-radius: 0 0 5px 5px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .coupan dl dt {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: .85rem; }
      .coupan dl dt p {
        font-size: 0.6rem; }
      .coupan dl dt .hui94 {
        font-size: 0.7rem;
        color: #949494;
        margin-top: 0.5rem; }
    .coupan dl dd {
      font-size: 2rem;
      line-height: 1.1; }
      .coupan dl dd:before {
        content: '¥';
        font-size: 1.1rem; }
  .coupan .overjue {
    color: #949494; }
    .coupan .overjue dl {
      border-bottom: 4px solid #c6c6c6; }
    .coupan .overjue dl dd {
      background: url("../img/icon/overjue-bg.png") 0 bottom/58px auto no-repeat; }

.balance {
  font-size: 0.7rem;
  padding: 3.2rem 0.75rem 0; }
  .balance img:first-child {
    width: 5.2rem; }
  .balance p {
    font-size: 1.2rem; }
    .balance p:before {
      content: '¥';
      font-size: 1rem; }
  .balance .weui-btn {
    height: 1.75rem;
    line-height: 1.75rem; }
  .balance .weui-btn:first-of-type {
    margin-top: 3.2rem; }
  .balance .weui-btn:last-of-type {
    background: #fff;
    color: #ff9a0a; }

.service .weui-grids {
  background: #fff; }
  .service .weui-grids .weui-grid {
    width: 50%;
    text-align: center;
    font-size: 0.7rem;
    line-height: 2; }
  .service .weui-grids .weui-grid:last-of-type .weui-grid__label {
    color: #949494; }
.service .question dl {
  font-size: 0.7rem;
  border-bottom: 1px solid #e4e4e4; }
  .service .question dl dt {
    height: 2.25rem;
    line-height: 2.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0.75rem; }
    .service .question dl dt:after {
      content: '';
      border: 1px solid #949494;
      border-top: 0;
      border-left: 0;
      width: 0.7rem;
      height: 0.7rem;
      display: inline-block;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .service .question dl dd {
    display: none;
    background: #f7f7f7;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #e4e4e4; }
    .service .question dl dd .hd {
      font-weight: bold;
      /*padding: .5rem 0;*/ }
    .service .question dl dd .bd {
      font-size: 0.6rem;
      text-indent: 2em;
      color: #727272;
      margin: .3rem 0 0; }

.opinion textarea {
  border: 1px solid #e4e4e4;
  padding: .5rem;
  margin-top: .5rem;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.7rem; }
.opinion .weui-btn {
  margin-top: 1rem; }

/*# sourceMappingURL=member.css.map */